.form {
  margin: 20px;
  padding: 10px;
  color: white;
  background-image: url("https://media.nationalgeographic.org/assets/photos/000/268/26833.jpg");
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-size: 18px;
}